
<main class="docs-main">
    <div class="d-flex justify-content-center">
        <div class="container-fluid overflow-hidden">
            <div class="row">
                <div class="col align-item-center">
                    <h2>Kent C. Dodds</h2>
                </div>
                <div class="col">
                    <h4>Contact</h4>
                </div>
                <div class="col">
                    <h4>General</h4>
                </div>
            </div>
        </div>
    </div>
</main>
