<header class="header">
    <div class="d-flex justify-content-center">

        <div class="container-fluid overflow-hidden">
            <div class="row ">
                <div class="col-lg-6 col-md-12 align-self-center text-wrap">
                    <h2 class="txt text-left">
                        Hi, I'm Kent C. Dodds, I'm a full time educator. 
                    </h2>
                    <p class="txt text-muted mt-3">    
                        I make the world a better place by teaching people like you how to make quality software.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <img class="rounded-3 img-fluid" src="../../../assets/shhh - copia.PNG" alt="" srcset="">
                </div>
            </div>
            <div class="row mt-3">
                <div class="d-flex flex-row align-items-center">
                    
                        <!-- ################## svg icon ######################### -->
                        <a style="flex:none" href="/about#about_me" class="d-inline-flex align-items-center">

                            <div style="position: relative; flex:none; height: 3.5rem; width: 3.5rem;" class="d-inline-flex align-items-center p-1 justify-content-center">
                                
                                <div class="svgpic">
                                    <svg width="60" height="60">
                                        <circle stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30"></circle>
                                        <circle class="text-primary" stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30" style="stroke-dasharray: 175.929px, 175.929px; transform: rotate(-90deg); transform-origin: 30px 30px 0px;" transform-origin="30px 30px" stroke-dashoffset="175.92918860102841"></circle>
                                    </svg>
                                </div>
                                <span>
                                    <svg class="transform rotate-0" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.101 5.5V23.1094L9.40108 17.4095L8.14807 18.6619L15.9862 26.5L23.852 18.6342L22.5996 17.3817L16.8725 23.1094V5.5H15.101Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </div>
                            <span class="link p-xs-2 p-md-3 p-lg-4">Conoce mas de nosotros</span>
                        </a>
                    
                </div>
            </div>
            <div class="row row-margin-30">
                <img id="about_me" class="rounded-3 img-fluid" src="../../../assets/shhh - copia.PNG" alt="" srcset="">
            </div>
            <div class="row mt-3">
                <span class="link muted-text">
                    Conoce sobre nuestros productos con este video
                </span>
            </div>
            <div class="row row-margin-30">
                <div class="col-lg-6 col-md-12 align-self-center">
                    <img class="rounded-3 img-fluid" src="../../../assets/shhh - copia.PNG" alt="" srcset="">
                </div>
            
                    <div  class="col-lg-6 col-md-12 align-self-center">
                        <h2 class="txt text-left">
                            I was born in 1988 in Twin Falls, Idaho 
                        </h2>
                        <p class="txt text-muted mt-3">    
                            After graduating High School and serving a 2 year mission in the Missouri Independence Mission for The Church of Jesus Christ of Latter-day Saints, I went to BYU where I graduated with a Master of Science in Information Systems degree in 2014. 
                        </p>
                        <div class="mt-3">
                            <div class="d-flex flex-row align-items-center">
                    
                                <!-- ################## svg icon ######################### -->
                                <a style="flex:none" href="" class="d-inline-flex align-items-center">
        
                                    <div style="position: relative; flex:none; height: 3.5rem; width: 3.5rem;" class="d-inline-flex align-items-center p-1 justify-content-center">
                                        
                                        <div class="svgpic">
                                            <svg width="60" height="60">
                                                <circle stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30"></circle>
                                                <circle class="text-primary" stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30" style="stroke-dasharray: 175.929px, 175.929px; transform: rotate(-90deg); transform-origin: 30px 30px 0px;" transform-origin="30px 30px" stroke-dashoffset="175.92918860102841"></circle>
                                            </svg>
                                        </div>
                                        <span>
                                            <svg  transform='rotate(-90)' width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.101 5.5V23.1094L9.40108 17.4095L8.14807 18.6619L15.9862 26.5L23.852 18.6342L22.5996 17.3817L16.8725 23.1094V5.5H15.101Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </div>
                                    <span class="link p-xs-2 p-md-3 p-lg-4">Conoce mas de nosotros</span>
                                </a>
                            
                        </div>
                        </div>
                    </div>
            
            </div>
           
    </div>
</div>
    
</header>



<!-- <div class="d-flex justify-content-center">
    <div class="inner-container">
        
        <mat-grid-list cols="2" rowHeight="2:1" class="grid-layout-custom">
        <mat-grid-tile>
            <p>
                Hi, I'm Kent C. Dodds, I'm a full time educator.
                I make the world a better place by teaching people like you how to make quality software.
            </p>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <img src="../../../assets/shhh - copia.PNG" alt="" srcset="">
        </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    <h2>Der Mensch kann tun was er will; er kann aber nicht wollen was er will</h2>
</div>
</div> -->
    