mat-sidenav {
  top: 56px;
  bottom: 0px;
}

/* TEST SPACE */
.bd-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

.bd-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.bd-search-docs-toggle {
  line-height: 1;
  color: #212529;
}

.bd-sidebar {
  -webkit-box-ordinal-group: 1;
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bd-toc-item {
}

.bd-toc-link {
  display: block;
  padding: 0.25rem 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

@media (min-width: 768px) {
  .bd-links {
    display: block;
    max-height: calc(100vh - 9rem);
    overflow: auto;
  }
  .bd-sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* li a {
    font-size: 0.72rem;
  } */
}
/* TEST SPACE */

.toolbar-spacer {
  flex: 1 1 auto;
}

.docs-navbar-show-row {
  display: none;
}

.docs-navbar-header-item a:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.docs-navbar-header-item-selected {
  background: rgba(0, 0, 0, 0.2);
}

footer {
  background: #7b1fa2;
  z-index: 4;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  /* height: 2.5rem; */
}

.docs-footer {
  padding: 12px;
  font-size: 12px;
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}
.docs-footer-logo {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;
  flex: 1;
}

.component-page-header {
  display: flex;
  padding-left: 20px;
  /* padding-top: 15px; */
  align-items: center;
  background-color: #7b1fa2;
  z-index: 0;
}

.component-page-header h1 {
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 20px;
}

/* Toggable menu with media query*/
/* .sidenav-toggle {
  padding: 0;
  margin: 8px;
  min-width: 64px;
  display: none;
} */

.sidenav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-toggle mat-icon {
  font-size: 20px;
  height: 64px;
  width: 64px;
  line-height: 64px;
  color: #fff;
}

mat-toolbar {
  /* justify-content: space-between; */
  /* position: fixed; */
  /* position: -webkit-sticky; */
  /* top: 0; */
  /* right: 0; */
  /* z-index: 2; */
  /* background-color: #7b1fa2; */
  /* z-index: 1000; Ensure that your app's content doesn't overlap the toolbar */
}

.sidenav {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 56px;
  /* height: 100%; */
}

.docs-component-viewer-sidenav-container {
  flex: 1;
  box-sizing: border-box;
}
.docs-component-viewer-sidenav {
  overflow: auto;
}

.docs-component-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.docs-component-sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

.docs-component-sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.docs-component-viewer-nav {
  position: sticky;
  top: 0;
}
.docs-component-viewer-nav .docs-component-viewer-nav-content {
  width: 240px;
  height: calc(100vh - 56px);
  overflow: auto;
}
.docs-component-viewer-nav-content {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

div .mat-list-base {
  padding-top: 11px;
}

.docs-component-viewer-nav .docs-component-viewer-nav-content a {
  display: block;
  text-decoration: none;
}

div.docs-component-viewer-nav-content
  .mat-nav-list
  .mat-list-item
  .mat-list-item-content {
  padding-left: 25px;
}

.docs-component-viewer-nav-content
  a.docs-component-viewer-sidenav-item-selected {
  background: rgba(123, 31, 162, 0.15);
  color: rgb(199, 174, 209);
}
.docs-component-viewer-nav-content
  a.docs-component-viewer-sidenav-item-selected:hover {
  background: rgba(123, 31, 162, 0.3);
}

.docs-component-viewer {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 959px) {
  .component-page-header {
    padding-left: 0;
  }
  .docs-component-viewer-sidenav-container .docs-component-viewer-sidenav {
    z-index: 4;
  }

  /*Toggable menu with media query*/
  /* .sidenav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .docs-component-viewer-nav {
    position: relative;
    top: 0;
  }
  .docs-component-viewer-nav .docs-component-viewer-nav-content {
    box-sizing: border-box;
    margin: 0;
    max-height: initial;
  }
}

@media (max-width: 720px) {
  .sidenav {
    margin-top: 112px;
  }
  .docs-component-viewer-sidenav-container {
    flex: 1 0 auto;
  }
  .docs-component-sidenav-body-content {
    flex-direction: column;
  }
  .docs-navbar-hide-small {
    display: none;
  }
  .docs-navbar-show-row {
    display: flex;
  }

  .navbar-tiles {
  }
}
